.container {
  .form-container {
    input {
      width: 50%;
    }

    & div {
      margin: 20px 0;
      background-color: white;
      color: black;
      font-size: small;
      color: slategray;
      width: 50%;
      height: 40vw;
      padding: 3px;
      overflow-y: scroll;

      &[contentEditable="true"]:empty:not(:focus):before {
        content: attr(data-text);
      }
    }
  }

  .publish {
    box-sizing: border-box;
    display: inline;
    width: 20%;
    padding: 10px;
    margin: 20px 5px;
    border: 1px solid darkgreen;
    background: darkgreen;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    font-size: inherit;
    color: white;

    &:hover {
      background-color: seagreen;
      cursor: pointer;
    }
  }
  .cancel {
    box-sizing: border-box;
    display: inline;
    width: 20%;
    padding: 10px;
    margin: 5px;
    border: 1px solid darkgreen;
    background: silver;
    border-radius: 10px;
    color: gray;
    box-shadow: 1px 1px 1px black;
    font-size: inherit;

    &:hover {
      background-color: oldlace;
      cursor: pointer;
    }
  }
}
