.footer {
    background: var(--mui-palette-primary-main);
    color: var(--mui-palette-text-white);
    
    .container {
        padding: 20px;

        .copyright-container {
            position: relative;
            display: inline-block;
            top: 3px;
    
            .copyright-circle {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 2px solid var(--mui-palette-text-white);
                display: inline-block;
            }
    
            .copyright-c {
                position: relative;
                right: 22px;
                bottom: 7px;
            }
        }
    }
}