@import "pages/styles/variables.scss";

.post-container {
  padding: $mainContainer;
  word-break: break-word;

  .header-image {
    object-fit: cover;
  }

  & > * {
    margin: 20px 0;
  }

  & a {
    color: white;
    &:hover {
      color: gainsboro;
    }
  }
}

// update
.container {
  .content {
    width: 100%;
  }
}
