.section {
  padding: 50px;

  .sectionHeading {
    font-size: 3rem;
    color: var(--mui-palette-text-primaryGreen);
    margin: 30px 0;
    border-bottom: 4px solid var(--mui-palette-text-primaryGreen);
  }

  .post-container {
    padding: 30px;
    background: var(--mui-palette-secondaryTwo-main);
    height: 100%;
    min-height: 400px;

    .post {
      cursor: pointer;
      height: 100%;

      .content {
        word-break: break-word;

        .description {
          margin: 20px 0;
        }
      }

      .date {
        font-family: Arial, Helvetica, sans-serif;
        color: #404040;
      }
    }

    .post:hover {
      // background: red;
    }
  }
}
