.section {
  padding: 50px;

  .sectionHeading {
    font-size: 3em;
  }

  .post-container {
    background: green;
    padding: 30px;
    // cursor: pointer;

    .post {
      cursor: pointer;
    }

    .post:hover {
      background: red;
    }
  }
}


