$mobile: 630px;
$small-mobile: 415px;

.banner {
  background-image: url("https://images.unsplash.com/photo-1493770348161-369560ae357d?ixid=M3w0NjI5OTh8MHwxfGFsbHx8fHx8fHx8fDE2ODcwMjAzMTZ8&ixlib=rb-4.0.3");
  height: calc(100vh - 100px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .slogan-container {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: green;
    background: white;
    padding: 20px 20px 0 20px;
  }

  .slogan {
    font-size: 2.63em;
  }

  .slogan2 {
    position: relative;
    top: -20px;
    font-size: 3em;
  }

  @media screen and (max-width: $mobile) {
    .slogan {
      font-size: 1.9em;
    }

    .slogan2 {
      font-size: 2.15em;
      top: -15px;
    }

    @media screen and (max-width: $small-mobile) {
      .slogan {
        font-size: 1.5em;
      }

      .slogan2 {
        font-size: 1.7em;
        top: -12px;
      }
    }
  }
}
