$tablet: 1149px;
$mobile: 630px;
$small-mobile: 415px;

.banner {
  background-image: url("https://images.unsplash.com/photo-1493770348161-369560ae357d?ixid=M3w0NjI5OTh8MHwxfGFsbHx8fHx8fHx8fDE2ODcwMjAzMTZ8&ixlib=rb-4.0.3");
  height: calc(100vh - 100px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .slogan-container {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: var(--mui-palette-text-primaryGreen);
    background: var(--mui-palette-whiteToBlack-main);
    padding: 20px;
    font-family: 'harman-sans', sans-serif;
  }

  .slogan-words-container {
    line-height: 0.8;
  }

  .slogan {
    font-size: 2.63em;
  }

  .slogan2 {
    font-size: 3em;
  }

  @media screen and (max-width: $tablet) {
    height: calc(100vh - 185px);
  }

  @media screen and (max-width: $mobile) {
    height: calc(100vh - 100px);

    .slogan {
      font-size: 1.9em;
    }

    .slogan2 {
      font-size: 2.15em;
    }
  }

  @media screen and (max-width: $small-mobile) {
    height: calc(100vh - 90px);

    .slogan {
      font-size: 1.5em;
    }

    .slogan2 {
      font-size: 1.7em;
    }
  }
}
