* {
  // MUI breadcrumbs documentation https://mui.com/material-ui/api/breadcrumbs/
  .MuiBreadcrumbs-root {
    cursor: pointer;
  }

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  body {
    color: white;
    position: relative;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    font-family: harman-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
  }
}
