* {
  // MUI breadcrumbs documentation https://mui.com/material-ui/api/breadcrumbs/
  .MuiBreadcrumbs-root {
    color: white;
    .MuiBreadcrumbs-separator:hover {
      cursor: initial;
      color: white;
    }
    & li {
      &:last-child:hover {
        cursor: initial;
        color: white;
      }
      &:hover {
        cursor: pointer;
        color: gainsboro;
      }
    }
  }

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  body {
    position: relative;
    background: var(--mui-palette-background-main);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    white-space: pre-wrap;
  }

  main { 
    max-width: 1200px;
    @media screen and (min-width: 1200px) {
      margin-left: 20%;
      margin-right: 20%;
    }

  }
}
