.navigation {
    color: white;

    li {
        list-style-type: none;
        display: inline;

        & a {
            color: white;
            margin: 0 20px;
            background: transparent;
            border: 0;
            font-size: inherit;
            text-decoration: none;

            &:hover {
                color: gainsboro;
            }

        }
    }
}