$hamburger-animation-timing: 300ms;
$small-mobile: 416px;
$tablet: 1160px;

.header {
  background: var(--mui-palette-primary-main);
  color: var(--mui-palette-text-white);
  padding: 30px;
}

@media screen and (max-width: $tablet) {
  .header {
    padding: 30px 10px;
  }
}

.title {
  margin: 0;
}

.tablet {
  .title {
    text-align: center;
  }
}

.small-mobile {
  .title {
    margin: 0;
  }

  ul {
    flex-direction: column;

    li {
      padding: 20px 0px 20px 20px;
      border-bottom: 3px solid silver;
      display: block;
      font-size: 1.5rem;

      &:hover {
        background-color: darkgreen;
      }
    }

    li:nth-child(1) {
      border-top: 3px solid silver;
    }
  }

  .hamburger-container {
    z-index: 4;
    position: fixed;
    right: 20px;
    top: 27px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }

  .hamburger {
    height: 5px;
    width: 50px;
    background-color: white;
    transition: transform 500ms ease;
    border-radius: 3px;

    &::before {
      content: " ";
      display: block;
      height: 5px;
      width: 50px;
      background-color: white;
      border-radius: 3px;
      position: relative;
      top: 10px;
      transition: transform $hamburger-animation-timing ease, top $hamburger-animation-timing ease $hamburger-animation-timing;
    }
    &::after {
      content: " ";
      display: block;
      height: 5px;
      width: 50px;
      background-color: white;
      border-radius: 3px;
      position: relative;
      top: -15px;
      transition: transform $hamburger-animation-timing ease, top $hamburger-animation-timing ease $hamburger-animation-timing;
    }
  }

  .active {
    transform: rotate(45deg);
    transition: transform $hamburger-animation-timing ease $hamburger-animation-timing;
  }

  .active::before {
    top: 0;
    transform: rotate(90deg);
    transition: transform $hamburger-animation-timing ease $hamburger-animation-timing, top $hamburger-animation-timing ease;
  }

  .active::after {
    top: -5px;
    transform: rotate(90deg);
    transition: transform $hamburger-animation-timing ease $hamburger-animation-timing, top $hamburger-animation-timing ease;
  }

  .offset-menu {
    box-sizing: border-box;
    position: fixed;
    background-color: #4f7942;
    z-index: 3;
    border-bottom: 3px solid silver;
    width: 100%;
    left: 0;

    .top-section {
      height: 100px;
      background: black;
    }
  }

  @media screen and (max-width: $small-mobile) {
    .title {
      font-size: 1.4em;
    }

    .hamburger-container {
      top: 22px;
    }

    .hamburger, .hamburger::before, .hamburger::after {
      width: 30px;
      height: 3px;
    }

    .hamburger::before {
      top: 8px;
    }

    .hamburger::after {
      top: -11px;
    }

    .active::before {
      top: 0;
    }

    .active::after {
      top: -3px;
    }

    .offset-menu {
      .top-section {
        height: 93px;
      }
    }
  }
}

.very-small-phone {
}
