$small-mobile: 415px;

.home-container {
  background-color: #FFF0AD;

  .intro {
    position: relative;
    font-family: thirsty-rough-two, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    font-size: 2em;
    color: #2044E0;
    min-height: 600px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .svg-wrapper {
      position: absolute;
      max-width: 100px;
    }

    .svg-wrapper:nth-child(1) {
      top: 20px;
      right: 72px;
      transform: rotate(-35deg);
      // Color green: #92B72C
      filter: invert(61%) sepia(81%) saturate(365%) hue-rotate(35deg) brightness(92%) contrast(94%);
    }

    .svg-wrapper:nth-child(2) {
      top: 20px;
      left: 72px;
      transform: scaleX(-1) rotate(-35deg);
      // Color pink: #FB2FA3
      filter: invert(37%) sepia(71%) saturate(4451%) hue-rotate(305deg) brightness(98%) contrast(101%);
    }

    .svg-wrapper:nth-child(3) {
      bottom: 20px;
      left: 80px;
      transform: rotate(-35deg);
      // Color yellow: #F9B501
      filter: invert(84%) sepia(23%) saturate(6746%) hue-rotate(360deg) brightness(99%) contrast(98%);
    }

    .svg-wrapper:nth-child(4) {
      bottom: 20px;
      right: 70px;
      transform: scaleX(-1) rotate(-35deg);
      // Color gray: #818084
      filter: invert(55%) sepia(5%) saturate(237%) hue-rotate(214deg) brightness(91%) contrast(80%);
    }

    p {
      width: 70%;
      z-index: 3;
    }

    @media screen and (max-width: $small-mobile) {
      .svg-wrapper {
        max-width: 80px;
      }

      p {
        font-size: 0.8em;
        width: 100%;
      }
    }
  }
  
  .main {
    background-color: #FFF7DB;
    
    .section {
      .sectionHeading {
        text-align: center;
      }
      div {
        article {
          .article {
            padding: 20px;
  
            & div {
              border: 3px solid darkgrey;
            }
          }
        }
      }
    }
  }
}