@import "pages/styles/variables.scss";

.container {
  padding: $mainContainer;
  .form-container {
    input {
      margin-bottom: 20px;
    }

    .content {
      width: 100%;
      resize: none;
      padding: 10px;
      margin-bottom: 15px;
    }
  }

  .publish {
    box-sizing: border-box;
    display: inline;
    width: 20%;
    padding: 10px;
    border: 1px solid darkgreen;
    background: darkgreen;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    font-size: inherit;
    color: white;

    &:hover {
      background-color: seagreen;
      cursor: pointer;
    }
  }
  .cancel {
    box-sizing: border-box;
    display: inline;
    width: 20%;
    padding: 10px;
    border: 1px solid darkgreen;
    background: silver;
    border-radius: 10px;
    color: gray;
    box-shadow: 1px 1px 1px black;
    font-size: inherit;

    &:hover {
      background-color: oldlace;
      cursor: pointer;
    }
  }
}
