.container {

  & a {
    color: white;

    &:hover {
      color: gainsboro;
    }
  }

  .searchContainer {
    margin-right: 5px;
    max-width: 600px;

    .searchBtn {
      background: #2044E0;
      color: white;
      height: 100%;
      min-width: 0px;
    }
  }

  .login {
    background: white;

    &:hover {
      background-color: seagreen;
      cursor: pointer;
    }

    @media screen and (max-width: 416px) {
      margin-top: 20px;
      width: 50%;
    }
  }

  @media screen and (max-width: 629px) {
    padding: 20px;
  }
}
