$tablet: 1149px;
$mobile: 629px;
$small-mobile: 415px;

.container {

  & a {
    color: white;

    &:hover {
      color: gainsboro;
    }
  }

  .searchContainer {
    margin-right: 5px;
    max-width: 520px;

    .searchBtn {
      background: #2044E0;
      color: white;
      height: 100%;
      min-width: 0px;
    }
  }

  .login {
    // background: var(--mui-palette-secondary-main);

    &:hover {
      background-color: seagreen;
      cursor: pointer;
    }
  }

  @media screen and (max-width: $tablet) {
    .login {
      position: absolute;
      top: 23px;
      right: 30px;
    }
  }

  // Mobile styling
  @media screen and (max-width: $mobile) {
    padding: 20px;

    .login {
      right: auto;
      left: 30px;
      background: none;
      color: white;
      font-size: 1.5em;
    }

    .login-icon {
      font-size: 1.5em;
      margin-right: 20px;
    }
  }

  @media screen and (max-width: $small-mobile) {
    .login {
      font-size: 1.3em;
    }

    .login-icon {
      font-size: 1.3em;
    }
  }
}
